<div id="card" *ngFor="let user of UsersList">
    <div id="card-cabecalho">

    </div>

    <div id="card-corpo">
        <div id="card-corpo-topo">
            <div id="card-descricao1">
                <div id="card-descricao1-nivel">
                    {{user.level}}
                </div>
                <div id="card-descricao1-equipe">
                    {{user.team}}
                </div>
            </div>
            <img src="../../../assets/images/Fotologo.svg" alt="Foto do perfil">
        </div>

        <div id="card-descricao2">
            <div id="card-descricao2-nome">
                {{user.name}}
            </div>
            <div id="card-descricao2-atributos">
                <div id="card-desc2-atributos-col1">
                    <div class="card-desc2-atributos" id="atributo1">
                        <strong>91</strong> TCS
                    </div>
                    <div class="card-desc2-atributos" id="atributo2">
                        <strong>91</strong> TCS
                    </div>
                    <div class="card-desc2-atributos" id="atributo3">
                        <strong>91</strong> TCS
                    </div>
                </div>
                
                <div id="card-desc2-atributos-col2">
                    <div class="card-desc2-atributos" id="atributo4">
                        <strong>91</strong> TCS
                    </div>
                    <div class="card-desc2-atributos" id="atributo5">
                        <strong>91</strong> TCS
                    </div>
                    <div class="card-desc2-atributos" id="atributo6">
                        <strong>91</strong> TCS
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>