/*EMBLEMA*/
#card {
    background-color: #66CB55;
    height: 180px;
    width: 110px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
    margin: 0px 10px 20px 10px;
}

#card-cabecalho {
    background-color: #D9D9D9;
    height: 20px;
    width: 110px;
}

#card-corpo-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px 0px 10px;
}

#card-descricao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

#card-descricao1-nivel {
    font-weight: 700;
}

#card-descricao1-equipe {
    font-weight: 400;
}

#card-descricao2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-descricao2-nome {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

#card-descricao2-atributos {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    gap: 10px;
}

#card-desc2-atributos-col1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#card-desc2-atributos-col2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}