<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <section class="emblemas">
            <div id="emblema1">
                <div class="emblema1-cabecalho">

                </div>
                <div class="emblema1-corpo">
                    <div class="emblema1-descricao">
                        <div class="emblema1-nivel">
                            92
                        </div>
                        <div class="emblema1-equipe">
                            N1
                        </div>
                    </div>

                    <img class="emblema1-foto" src="imagens/Fotologo.svg" alt="Foto-perfil">
                </div>
            </div>

            <div id="emblema1">
                <div class="emblema1-cabecalho">

                </div>
                <div class="emblema1-corpo">
                    <div class="emblema1-descricao">
                        <div class="emblema1-nivel">
                            92
                        </div>
                        <div class="emblema1-equipe">
                            N1
                        </div>
                    </div>

                    <img class="emblema1-foto" src="imagens/Fotologo.svg" alt="Foto-perfil">
                </div>
            </div>

            <div id="emblema1">
                <div class="emblema1-cabecalho">

                </div>
                <div class="emblema1-corpo">
                    <div class="emblema1-descricao">
                        <div class="emblema1-nivel">
                            92
                        </div>
                        <div class="emblema1-equipe">
                            N1
                        </div>
                    </div>

                    <img class="emblema1-foto" src="imagens/Fotologo.svg" alt="Foto-perfil">
                </div>
            </div>
        </section>

        <section id="formulario">
            <div id="titulo-subtitulo">
                <h1>Login</h1>
                <h2>Por favor, entre com seu login e senha</h2>
            </div>

            <form action="" id="form-login-senha">
                <div id="usuario">
                    <label for="email">
                        <img src="imagens/user-icon.svg" alt="ícone de usuário">
                    </label>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
    
                <div id="form-senha">
                    <label for="senha">
                        <img src="imagens/pass-icon.svg" alt="Ícone de senha">
                    </label>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>

                <input type="submit" value="Entrar" id="form-botao">
            </form>
        </section>
    </main>
</body>
</html>