<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <!-- <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined">Login</span>        
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Gestor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Colaborador</a></li>
          </ul> -->
        <a class="navbar-brand mx-auto">
            <img src="https://martminas.com.br/sites/all/themes/martminas/img/logo.jpg">
        </a>
    </div>
</nav>
<body class="gradient">
    <div class="">
        <form class="form-control">
            <div class="mb-3">
                <label for="" class="form-label">Login</label>
                <input type="text" class="form-control" id="" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Senha</label>
                <input type="password" class="form-control" id="">
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success col-12">Login</button>  
              </div>
        </form>
    </div>
</body>
