<title>Dashboard</title>
<app-nav-bar></app-nav-bar>

<div id="principal">
    <app-card></app-card>

    <div id="conteudo">
        <div id="descricao">
            <div id="descricao-nivel">
                Nível
                <div id="nivel">
                    <strong>92</strong>
                </div>
            </div>
    
    
            <div id="progresso">
                <div id="progresso-bar">
    
                </div>
                <div id="progresso-conteudo">
                    <div id="progresso-descricao">
                        Exp. necessária para o próx nível:
                    </div>
                    <div id="progresso-nivel">
                        19.8%
                    </div>
                </div>
            </div>
        </div>
    
        <div id="tabela">
            <table>
                <tr id="linha-1">
                    <td><strong>Descrição</strong></td>
                    <td class="col-valores"><strong>Total</strong></td>
                    <td class="col-valores"><strong>Pontuação</strong></td>
                </tr>
                <tr>
                    <td>Total de chamado solucionados</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Pontuação de chamados triados dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
    
                <tr>
                    <td>Chamados não triados dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Pontuação de chamados atendidos dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Chamados não atendidos dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Pontuação de chamados solucionados dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Chamados não solucionados dentro da SLA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Quantidade total de chamados solucionados por tipo</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Computadores</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Redes e Voz</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Automação</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Aplicações</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="" alt=""> Periféricos e Suprimentos</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>